.contacts__wrapper {
  width: 100%;
  padding: 43px 20px 19px;
  background-color: $basic-white;
}

.contacts__slogan {
  font-size: 24px;
  line-height: 28.8px;
  margin: 0;
}

.contacts__information {
  margin-top: 34px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.contacts__phone,
.contacts__email,
.contacts__address {
  @include font-settings(700, 18px, 25px);

  @media (min-width: $tablet-width) {
    flex-basis: 50%;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: nowrap;
    flex-basis: 33%;
  }
}

.contacts__address {
  @media (min-width: $tablet-width) {
    flex-basis: 100%;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 33%;
    order: -1;
  }
}

.contacts__phone {
  @media (min-width: $desktop_width) {
    order: -1;
  }
}

.contacts__number,
.contacts__email-address,
.contacts__post-address {
  @include font-settings(300, 24px, 33px);
  color: $basic-red;
  text-decoration: none;

  &:hover {
    color: $basic-dark;
  }

  &:active {
    color: $basic-dark;
    opacity: 0.3;
  }
}
