.contacts__wrapper {
  width: 100%;
  padding: 43px 20px 19px;
  background-color: $basic-white;
}

.contacts__slogan {
  font-size: 24px;
  line-height: 28.8px;
  margin: 0;
}

.contacts__information {
  margin-top: 34px;
}

.contacts__phone,
.contacts__email,
.contacts__address {
  @include font-settings(700, 18px, 25px);
}

.contacts__number,
.contacts__email-address,
.contacts__post-address {
  @include font-settings(300, 24px, 33px);
  color: $basic-red;

  &:hover {
    color: $basic-dark;
  }

  &:active {
    color: $basic-dark;
    opacity: 0.3;
  }
}
