.dialog__window {
  min-width: 320px;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  border-radius: 5px;

  @media (min-width: $tablet-width) {
    min-width: 460px;
    margin-left: 100px;
    margin-right: 100px;
  }

  @media (min-width: $desktop-width) {
    min-width: 780px;
    margin-left: 210px;
    margin-right: 210px;
  }
}

.dialog__wrapper {
  padding: 37px 20px 50px;
  background-color: var(--basic-white);

  @media (min-width: $tablet-width) {
    padding: 49px 65px 54px;
  }

  @media (min-width: $desktop-width) {
    padding: 49px 0 0;
  }
}

.dialog__title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    @include font-settings(700, 30px, 40px);
  }
}

.dialog__content {
  margin: 25px 0 39px;

  @include font-settings(400, 14px, 24px);

  @media (min-width: $tablet-width) {
    @include font-settings(400, 18px, 24px);
  }
}

.form__action--error {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    padding-top: 52px;
    padding-bottom: 52px;
    background-color: $basic-neutral;
  }
}

.form__action--success {
  background-color: $basic-neutral;
}

.dialog__button {
  width: 100%;
  border: 2px solid $basic-green;
  border-radius: 1px;
  color: $basic-white;

  @include font-settings(700, 18px, 30px);
  text-transform: uppercase;
  background-color: $basic-green;
  padding: 15px 0 14px;
  margin-top: 2px;

  @media (min-width: $tablet-width) {
    margin: 40px auto 54px;
  }
}
