.header__wrapper {
  background-color: $basic-extra-dark;
  background-image: url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  padding-top: 30px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/back-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/back-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/back-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-desktop@2x.jpg");
    }
  }
}

.header__title {
  margin: 65px 0 0;

  @include font-settings(300, 24px, 33px);
  color: $basic-white;

  @media (min-width: $tablet-width) {
    font-size: 50px;
    line-height: 68.09px;
    padding-bottom: 52px;
    margin: 145px 0 0;
  }

  @media (min-width: $desktop-width) {
    margin: 140px 0 0;
  }
}

.header__content {
  margin: 76px 0 0;
  padding: 43px 33px 50px;

  @include font-settings(400, 14px, 30px);
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    padding: 93px 111px 76px;

    br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 35px;
    margin-bottom: -1px;
    padding: 93px 111px 87px;

    br {
      display: block;
    }
  }
}
