.header__wrapper {
  background-color: $basic-extra-dark;
  background-image: url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: top;
  padding-top: 30px;
}

.header__title {
  margin: 65px 0 0;

  @include font-settings(300, 24px, 33px);
  color: $basic-white;

  @media (min-width: $tablet-width) {
    font-size: 50px;
    line-height: 68.09px;
    padding-bottom: 52px;
    margin: 145px 0 0;
  }

  @media (min-width: $desktop-width) {
    margin: 140px 0 0;
  }
}

.header__content {
  margin: 76px 0 0;
  padding: 43px 35px 50px;

  @include font-settings(400, 14px, 30px);
  background-color: $basic-white;

  br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    font-size: 18px;
    padding: 93px 130px 88px;

    br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 35px;

    br {
      display: block;
    }
  }
}
