.header__wrapper {
  background-color: $basic-extra-dark;
  background-image: url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: top;
  padding-top: 30px;
}

.header__title {
  margin: 65px 0 0;

  @include font-settings(300, 24px, 33px);
  color: $basic-white;
}

.header__content {
  margin: 76px 0 0;
  padding: 43px 35px 50px;

  @include font-settings(400, 14px, 30px);
  background-color: $basic-white;
}
