.intro__wrapper {
  background-color: $basic-extra-dark;
  background-image: url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  z-index: 1;
  padding-top: 23px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/back-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    padding-top: 110px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-image: url("../img/phone-tablet.png"), url("../img/back-tablet.jpg");
    background-repeat: no-repeat, no-repeat;
    background-size: auto 545px, cover;
    background-position: 50% bottom, 0 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/phone-tablet@2x.png"), url("../img/back-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 130px;
    background-image: url("../img/phone-desktop.png"), url("../img/back-desktop.jpg");
    background-size: auto 645px, cover;
    background-position: 95% bottom, 0 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/phone-desktop@2x.png"), url("../img/back-desktop@2x.jpg");
    }
  }
}

.intro__wrapper-slogan {
  @media (min-width: $tablet-width) {
    width: 50%;
  }
}

.intro__slogan {
  display: inline-block;
  color: $basic-white;

  @include font-settings(300, 24px, 28.8px);
  margin: 0;
  padding: 65px 0 30px;

  @media (min-width: $tablet-width) {
    width: 30%;

    @include font-settings(300, 40px, 48px);
    margin-left: 71px;
    padding-top: 93px;
    padding-bottom: 0;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    @include font-settings(300, 50px, 68px);
    width: 30%;
    margin-left: -15px;
    padding-top: 99px;
  }
}

.intro__background {
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.intro__wrapper-download {
  //margin: 0 auto;
  margin: -7px auto 0;
  padding: 28px 0 18px;
  background-color: $basic-extra-dark;
  //width: calc(100% - 40px);

  @media (min-width: $tablet-width) {
    width: 50%;
    padding-top: 30px;
    margin: 0;
    padding-left: 20px;
    padding-right: 10px;
    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    width: 30%;
    padding-left: 0;
    padding-top: 37px;
  }
}

.intro__button {
  //width: 100%;
  width: calc(100% - 40px);
  color: $basic-white;

  @include font-settings(700, 18px, 18px);
  border: 3px solid $basic-white;
  border-radius: 29px;
  background-color: inherit;
  padding: 15px 0 15px;

  @media (min-width: $tablet-width) {
    min-width: 300px;
  }

  @media (min-width: $desktop-width) {
    font-size: 21px;
  }

  &:hover {
    color: $basic-red;
    background-color: $basic-white;
    box-shadow: 0 5px 7px rgba(1, 1, 1, 0.75);
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);
    box-shadow: none;
  }
}

.intro__list {
  @include ul-reset;
  min-height: 56px;
  margin: 33px 20px 20px 20px;
  display: grid;
  grid-template-columns: repeat(3, 47px);
  column-gap: 31.5px;
  row-gap: 10px;
  box-sizing: border-box;
  justify-content: center;

  @media (min-width: $tablet-width) {
    margin: 50px 20px 20px 10px;
  }

  @media (min-width: $desktop-width) {
    margin: 67px 0 40px -20px;
  }
}

.intro-item {
  width: 47px;
  height: 56px;
}

.intro__link {
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;

  &--apple-logo {
    background-image: url("../img/apple-logo.svg");
  }

  &--android-logo {
    background-image: url("../img/android-logo.svg");
  }

  &--microsoft-logo {
    background-image: url("../img/microsoft-logo.svg");
  }
}

.intro__access {
  color: $basic-white;

  @media (min-width: $tablet-width) {
    @include font-settings(300, 18px, 24px);
    min-width: 300px;
    margin: 0;
    margin-bottom: 95px;
    padding-top: 10px;

    br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 107px;
    padding-top: 13px;
    padding-right: 10px;
  }
}
