.intro__wrapper {
  background-color: $basic-extra-dark;
  background-image: url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  z-index: 1;
  padding-top: 23px;
}

.intro__slogan {
  color: $basic-white;

  @include font-settings(300, 24px, 28.8px);
  margin: 0;
  padding: 65px 0 30px;
}

.intro__background {
  display: flex;
  justify-content: center;
  background: url("../img/screen.jpg") center 33px no-repeat;
}

.intro__wrapper-download {
  padding: 28px 20px 18px;
}

.intro__button {
  width: 100%;
  color: $basic-white;

  @include font-settings(700, 18px, 18px);
  border: 3px solid $basic-white;
  border-radius: 29px;
  background-color: inherit;
  padding: 15px 0 15px;
}

.intro__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 56px;
  margin: 32px 38px 20px;
}

.intro-item {
  height: 56px;
}
// TODO сделала заготовки для картинок. Закончу на следующем этапе
/*.intro__link--apple-logo {
  width: 47px;
  height: 56px;
  background: url("../img/apple-logo.png") no-repeat center;
}

.intro__link--android-logo {
  width: 43px;
  height: 47px;
  background: url("../img/android-logo.png") no-repeat center;
}

.intro__link--microsoft-logo {
  width: 44px;
  height: 41px;
  background: url("../img/microsoft-logo.png") no-repeat center;
}*/

.intro__access {
  color: $basic-white;
}
