.logo {
  position: relative;
  display: flex;
  padding-left: 20px;
  cursor: pointer;

  &:hover path {
    fill: $basic-red;
  }

  &:active path {
    fill: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: $tablet-width) {
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    align-items: flex-end;
  }
}

.logo-glasses {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline-block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-footer__logo-glasses .logo-glasses {
  display: inline-block;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.logo-pink {
  @media (min-width: $tablet-width) {
    margin-left: 11px;
    margin-top: 15px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 43px;
    z-index: 2;
    margin-left: 0;
  }
}

.logo-image {
  display: none;

  @media (min-width: $desktop-width) {
    display: inline-block;
    order: -1;
    margin-bottom: 43px;
    margin-right: 11px;
  }

  &:hover path {
    fill: $basic-red;
  }

  &:active path {
    fill: rgba(255, 255, 255, 0.3);
  }
}

.logo-pink-star {
  display: none;

  @media (min-width: $desktop-width) {
    position: absolute;
    display: inline-block;
    top: 33px;
    right: 47px;
  }
}

.logo-pink-footer-star {
  display: none;

  @media (min-width: $desktop-width) {
    position: absolute;
    display: inline-block;
    bottom: 74px;
    left: 19px;
  }
}
