.main-footer__wrapper {
  background-color: $basic-white;
  min-width: 320px;
  padding: 0 20px 50px;
  margin-top: 45px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding: 0 130px;
    margin-top: 54px;
    align-items: flex-start;
  }
}

.main-footer__logos {
  @include ul-reset;
  display: flex;
  justify-content: center;
  align-items: end;
  cursor: pointer;

  @media (min-width: $desktop-width) {
    padding-top: 10px;
  }

  &:hover .logo-pink path {
    fill: $basic-red;
  }

  &:active .logo-pink path,
  &:active .logo-pink-footer-star path {
    fill: rgba($basic-dark, 0.3);
  }

  &:active .logo-image path,
  &:active .logo-glasses path {
    fill: rgba($basic-red, 0.3);
  }
}

.main-footer__logo-pink {
  position: relative;
  padding-left: 12px;

  @media (min-width: $desktop-width) {
    padding-left: 0;
  }
}

.social__list {
  @include ul-reset;
  width: 180px;
  display: grid;
  grid-template-columns: repeat(3, 54px);
  column-gap: 9px;
  margin: 0 auto;
  padding-top: 30px;

  @media (min-width: $tablet-width) {
    padding-top: 10px;
    margin-left: -15px;
    margin-right: auto;
  }
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54px;
  height: 54px;
  border: 3px solid rgba(40, 54, 69, 0.1);
  border-radius: 50%;
  box-sizing: border-box;

  &:hover {
    border-color: $basic-dark;
  }

  &:active {
    border-color: rgba(40, 54, 69, 0.1);
  }

  &:active .social__link-img path {
    fill: rgba($basic-red, 0.3);
  }
}

.main-footer__copyright {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 39px;
  line-height: 18px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    padding-top: 20px;
  }
}

.main-footer__copyright-link {
  width: 27px;
  height: 34px;
  text-decoration: none;
  margin-left: 10px;

  &:hover path {
    fill: $basic-dark;
  }

  &:active path {
    fill: rgba($basic-dark, 0.3);
  }
}

.main-footer__academy-logo {
  margin-left: 15px;

  @media (min-width: $tablet-width) {
    margin-left: 0;
  }
}
