.main-footer__wrapper {
  background-color: $basic-white;
  min-width: 320px;
  padding: 40px 20px 50px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px 20px 50px;
  }

  @media (min-width: $desktop-width) {
    align-items: flex-start;
    width: 940px;
    margin: 54px auto 0;
    padding: 0;
  }
}

.main-footer__logos {
  @include ul-reset;
  display: flex;
  justify-content: center;
  align-items: end;
  cursor: pointer;

  @media (min-width: $desktop-width) {
    padding-top: 14px;
  }

  &:hover .logo__pink path {
    fill: $basic-red;
  }

  &:active .logo__pink path,
  &:active .logo__pink-footer-star path {
    fill: rgba($basic-dark, 0.3);
  }

  &:active .logo__image path,
  &:active .logo__glasses path {
    fill: rgba($basic-red, 0.3);
  }
}

.main-footer__logo .logo {
  padding-left: 0;

  @media (min-width: $desktop-width) {
    padding-top: 0;
  }
}

.main-footer__logo-pink {
  position: relative;
  padding-left: 12px;
  margin-left: 13px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
  }
}

.main-footer__copyright {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 39px;
  line-height: 18px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    margin-top: 8px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    padding-top: 20px;
  }
}

.main-footer__copyright-link {
  width: 27px;
  height: 34px;
  text-decoration: none;
  margin-left: 10px;

  &:hover path {
    fill: $basic-dark;
  }

  &:active path {
    fill: rgba($basic-dark, 0.3);
  }
}

.main-footer__academy-logo {
  @media (min-width: $tablet-width) {
    margin-left: 0;
  }
}
