.main-header {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  min-width: 320px;
  height: 66px;
  background-color: rgba($basic-black, 0.3);
  padding: 21px 0 15px;
  z-index: 2;

  @media (min-width: $tablet-width) {
    height: 110px;
    padding: 27px 20px 43px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    height: 115px;
    padding: 0 130px;
    background-color: rgba($basic-black, 0.3);
  }
}

.main-header--nojs {
  background-color: $basic-dark;
  border-bottom: 1px solid $basic-black;

  @media (min-width: $desktop-width) {
    background-color: rgba($basic-black, 0.3);
    border-bottom: none;
  }
}

.main-header--opened {
  background-color: $basic-dark;
  border-bottom: 1px solid $basic-black;
}

.main-header--closed {
  background-color: rgba($basic-black, 0.3);
  border-bottom: none;
}
