.map {
  position: relative;
  height: 200px;
  background-image: url("../img/map.jpg");

  @media (min-width: $tablet-width) {
    min-height: 374px;
    background-image: url("../img/map-tablet.jpg");
  }

  @media (min-width: $desktop-width) {
    min-height: 502px;
    background-image: url("../img/map-desktop.jpg");
  }
}

.map::before {
  content: "";
  width: 100%;
  position: absolute;
  background-color: $basic-white;
  height: 33px;
  left: 0;
  top: -1px;
  clip-path: polygon(100% 0, 50% 100%, 0 0);

  @media (min-width: $tablet-width) {
    height: 68px;
  }

  @media (min-width: $desktop-width) {
    height: 103px;
  }
}

.map iframe {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
