.photo__wrapper {
  background-color: $basic-white;
}

.photo__list {
  @include ul-reset;

  @media (min-width: $tablet-width) {
    display: grid;
    justify-content: space-around;
    //row-gap: 20px;
    column-gap: 20px;
    //grid-template-columns: repeat(2, 300px);
    grid-template-columns: repeat(2, 1fr);
    //grid-template-columns: repeat(2, minmax(300px, 300px));
    //margin: 0 20px;
    padding: 0 20px;
  }

  @media (min-width: $desktop-width) {
    //grid-template-columns: repeat(3, 300px);
    grid-template-columns: repeat(3, 1fr);
    row-gap: 54px;
    //margin: 0 130px;
    padding: 0;
  }
}

.photo__item-content {
  //width: calc(100% - 40px);
  width: 280px;
  margin: 0 20px 20px;
  padding: 18px 10px 20px 17px;
  background-color: $basic-neutral;
  text-align: left;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    min-height: 155px;
    width: 300px;
    //margin: 0 20px;
    padding: 22px 24px 24px 30px;

    br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 -2px;
    padding: 24px 24px 24px 27px;
  }
}

.photo__item-name {
  margin: 0;
  font-weight: 700;
}

.photo__item {
  display: flex;
  flex-direction: column;
  //align-items: center;
}

.photo__item:nth-child(even) {
  align-items: center;

  @media (min-width: $tablet-width) {
    margin-left: 20px;
    align-items: end;
    max-width: 300px;
    justify-self: end;

    .photo__item-content {
      margin-right: 0;
    }
  }
}

.photo__item:nth-child(2n+3) {
  align-items: center;

  @media (min-width: $tablet-width) {
    max-width: 300px;
    margin-right: 20px;
    align-items: start;

    .photo__item-content {
      margin-left: 0;
    }
  }
}

.photo__item:nth-child(3n+2) {
  @media (min-width: $desktop-width) {
    margin-left: 130px;
    margin-right: 0;
    justify-self: end;
  }
}

.photo__item:nth-child(3n+4) {
  @media (min-width: $desktop-width) {
    margin-right: 130px;
    margin-left: 0;
    justify-self: start;
  }
}

.photo__item:nth-child(3n+3) {
  @media (min-width: $desktop-width) {
    margin: 0 auto;
    //align-items: center;
  }
}

.photo__item--panorama {
  position: relative;

  .photo__item-content {
    align-self: center;
  }

  .photo__item-comment {
    padding-right: 0;
  }

  @media (min-width: $tablet-width) {
    grid-column: span 2;

    .photo__item-content {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      min-width: 620px;
      padding: 22px 25px 26px 30px;
      min-height: auto;
      margin-bottom: 50px;

      @media (min-width: $desktop-width) {
        padding: 22px 5px 26px 8px;
        margin-bottom: 0;
        width: 100%;
      }

      @media (min-width: $desktop-width) {
        padding: 23px 26px 22px 26px;
        margin: 0 130px;
        //width: 940px;
        width: calc(100% - 260px);
      }
    }

    .photo__item-comment {
      order: 1;
      flex-basis: 100%;
    }

    .photo__item-like-button {
      margin: 0 0 0 13px;
    }
  }

  @media (min-width: $desktop-width) {
    grid-column: span 3;
  }
}

.photo__panorama {
  display: block;
  max-width: 100%;
  object-fit: cover;
  width: 100%;
}

.photo__item--panorama::before {
  position: absolute;
  top: 0;
  left: 50%;
  content: url("../img/icons/catalog-panorama.svg");

  @media (min-width: $tablet-width) {
    top: 57px;
    left: 74%;
    //left: 520px;
  }

  @media (min-width: $desktop-width) {
    top: 54px;
    left: 77.5%;
    //left: 930px;
  }
}

.photo__picture {
  display: block;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    width: 300px;
    height: 300px;
  }

  @media (min-width: $desktop-width) {
    height: 400px;
  }
}

.photo__item-time {
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
  margin-left: 3px;
}

.photo__item-comment {
  margin: 0;
  font-weight: 400;
  padding-right: 2px;

  @media (min-width: $tablet-width) {
    flex-grow: 2;
    align-self: start;
  }
}

.photo__item-like {
  display: flex;
  flex-direction: row;
  align-items: center;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
  }
}

.photo__item-like-button {
  margin: 13px 12px 0 0;
  border: none;
  background-color: transparent;
  padding-left: 0;

  @media (min-width: $tablet-width) {
    order: 1;
    margin: 0 0 0 7px;
  }
}

.photo__item-like-counter-title {
  margin: 10px 0 0;
  font-weight: 400;
  font-size: 12px;
  color: $basic-red;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.photo__item-like-counter {
  margin-left: 5px;
}
