.photo__wrapper {
  background-color: $basic-white;
}

.photo__list {
  @include ul-reset;

  @media (min-width: $tablet-width) {
    display: grid;
    justify-content: space-around;
    row-gap: 20px;
    column-gap: 20px;
    grid-template-columns: repeat(2, 300px);
    margin: 0 20px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 300px);
    row-gap: 52px;
    margin: 0 130px;
  }
}

//временно для PP
@media (min-width: $tablet-width) {
  .photo__item img {
    height: 300px;
  }
}

@media (min-width: $tablet-width) {
  .photo__item--panorama img {
    height: 509px;
    width: 660px;
  }
}

@media (min-width: $desktop-width) {
  .photo__item img {
    height: 400px;
    width: 300px;
  }

  .photo__item--panorama img {
    height: 506px;
    width: 1200px;
  }
}

.photo__item-content {
  width: calc(100% - 40px);
  margin: 0 20px 20px;
  padding: 18px 10px 20px 17px;
  background-color: $basic-neutral;
  text-align: left;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    min-height: 155px;
    min-width: 300px;
    margin: 0 20px;
    padding: 22px 24px 24px 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 -2px;
  }
}

.photo__item-name {
  margin: 0;
  font-weight: 700;
}

.photo__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo__item--panorama {
  @media (min-width: $tablet-width) {
    grid-column: span 2;
    flex-basis: 50%;

    .photo__item-content {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      min-width: 620px;
      padding: 22px 25px 26px 30px;
      min-height: auto;
      margin-bottom: 30px;

      @media (min-width: $desktop-width) {
        padding: 22px 5px 26px 8px;
        margin-bottom: 0;
        width: 100%;
      }
    }

    .photo__item-comment {
      order: 1;
      flex-basis: 100%;
    }

    .photo__item-like-button {
      margin: 0 0 0 7px;
    }
  }

  @media (min-width: $desktop-width) {
    grid-column: span 3;
  }
}

.photo__item-time {
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
  margin-left: 3px;
}

.photo__item-comment {
  margin: 0;
  font-weight: 400;
  padding-right: 2px;

  @media (min-width: $tablet-width) {
    flex-grow: 2;
    align-self: start;
  }
}

.photo__item-like {
  display: flex;
  flex-direction: row;
  align-items: center;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
  }
}

.photo__item-like-button {
  margin: 13px 15px 0 0;
  border: none;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    order: 1;
    margin: 0 0 0 7px;
  }
}

.photo__item-like-counter-title {
  margin: 10px 0 0;
  font-weight: 400;
  font-size: 12px;
  color: $basic-red;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.photo__item-like-counter {
  margin-left: 5px;
}
