.price-list__wrapper {
  width: 100%;
  //height: 506px;
  padding-top: 82px;
  background-color: $basic-neutral;
  clip-path: polygon(0 7%, 100% 0, 100% 100%, 0 100%);
  box-sizing: border-box;
  overflow: hidden;
}

.price-list__table {
  border-collapse: collapse;
  white-space: nowrap;
  transform: translateX(-276px + 20px);

  @media (min-width: $tablet-width) {
    transform: none;
    margin-left: 20px;
  }

  tr {
    display: flex;
    flex-direction: row;
  }

  th {
    width: 277px;
    height: 97px;
    box-sizing: border-box;

    @include font-settings(700, 16px, 30px);
    text-align: center;
    align-items: center;
    text-transform: uppercase;
    padding: 13px 0 25px;
    color: $basic-white;
    background-color: $basic-dark;
    border-left: 2px solid $basic-neutral;

    @media (min-width: $tablet-width) {
      min-width: 152px;
      height: 75px;
    }

    @media (min-width: $desktop-width) {
      max-width: 233px;
      height: 94px;
    }
  }

  td {
    width: 277px;
    height: 59px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    text-align: left;
    padding-left: 20px;
    padding-right: 19px;
    color: $basic-dark;
    background-color: $basic-white;
    border: 2px solid $basic-grey;

    @media (min-width: $tablet-width) {
      min-width: 152px;
      height: 45px;
    }

    @media (min-width: $desktop-width) {
      max-width: 233px;
      height: 59px;
    }
  }
}

.price-list__table-content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    span {
      display: none;
      transform: none;
    }
  }
}

.price-list__table tr:nth-child(2) > td {
  border-top: none;
}

.price-list__table-title span {
  font-weight: 300;
  font-size: 18px;
  padding: 0;
  margin: 0;
}

tr .price-list__table-title--empty {
  background-color: $basic-neutral;
  border-bottom: 2px solid $basic-grey;
}

.price-list__table-data,
.price-list__table-title--empty {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    min-width: 153px;
  }

  @media (min-width: $desktop-width) {
    max-width: 234px;
  }
}

.price-list__toggles {
  margin: 44px 0 31px;
}
