.publishing-a-story__wrapper {
  background-color: $basic-extra-dark;
  background-image: url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/back-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/back-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/back-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-desktop@2x.jpg");
    }
  }
}

.publishing-a-story__title {
  font-size: 24px;
  line-height: 33px;
  color: $basic-white;
  padding: 93px 20px 45px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 50px;
    line-height: 68.09px;
    padding: 180px 20px 56px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 130px;
    padding-right: 130px;
    padding-top: 170px;
    padding-bottom: 90px;
  }
}

.publishing-a-story__slogan {
  background-color: $basic-white;
  font-weight: 400;
  line-height: 30px;
  padding: 45px 20px 15px;
  margin: 0 0 -1px;

  .publishing-a-story__slogan-fill {
    display: none;
  }

  @media (min-width: $tablet-width) {
    font-size: 18px;
    padding: 90px 85px 70px;

    .publishing-a-story__slogan-fill {
      display: inline-block;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 220px;
    padding-right: 220px;
  }
}
