.research {
  display: none;
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    background-color: $basic-neutral;
  }
}

.research__wrapper {
  width: 52%;
  margin-left: auto;
  text-align: left;
  padding-top: 50px;

  @media (min-width: $tablet-width) {
    padding-top: 5px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 130px;
    width: 65.4%;
  }
}

.research__title {
  @include font-settings(700, 30px, 36px);
  color: $basic-black;
  margin-bottom: 0;

  @media (min-width: $desktop-width) {
    line-height: 30px;
    padding-top: 100px;

    br {
      display: none;
    }
  }
}

.research__content {
  font-weight: 400;
  color: $basic-dark;
  margin-top: 10px;
  margin-bottom: 8px;
  padding-right: 25px;

  @media (min-width: $desktop-width) {
    @include font-settings(400, 18px, 30px);
    margin-top: 23px;
    margin-bottom: 30px;

    br {
      display: none;
    }
  }
}

.research__link {
  font-weight: 400;
  color: $basic-red;

  @media (min-width: $desktop-width) {
    @include font-settings(400, 18px, 30px);
  }

  &:hover {
    color: $basic-dark;
  }

  &:active {
    color: rgba($basic-dark, 0.3);
  }
}

.research-timer {
  padding: 64px 0 111px 20px;
  width: 100%;
  background-image: url("../img/research-timer.svg");
  background-repeat: no-repeat;
  background-position: 20px 50px;

  @media (min-width: $desktop-width) {
    background-image: url("../img/research-timer-tablet.svg");
    background-position: 130px 85px;
    padding: 54px 0 111px 130px;
  }
}
