.reviews__wrapper {
  width: 100%;
  padding: 44px 20px 0;
}

.reviews__item {
  margin: 0;
}

.reviews__author-info {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    .reviews__author-name {
      order: 2;
      padding-top: 30px;
    }

    .reviews__author-age-prof {
      order: 3;
    }
  }
}

.reviews__author-name {
  @include font-settings(700, 18px, 30px);
  color: $basic-black;
  font-style: normal;
}

.reviews__author-age-prof {
  display: none;

  @include font-settings(400, 14px, 30px);

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.reviews__text {
  font-weight: 400;
  line-height: 30px;
  margin: 12px 0 0;
}

.reviews__list .reviews__item:not(:first-of-type) {
  display: none;
  border: 1px solid $basic-red;
}
