.reviews__wrapper {
  width: 100%;
  padding: 44px 20px 0;
}

.reviews__item {
  margin: 0;
}

.reviews__author-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews__author-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  font-style: normal;
}

.reviews__text {
  font-weight: 400;
  line-height: 30px;
  color: var(--basic-dark);
  margin: 12px 0 0;
}

.reviews__list .reviews__item:not(:first-of-type) {
  display: none;
  border: 1px solid var(--basic-red);
}
