.upload__wrapper {
  background-color: $basic-neutral;
}

.upload__slogan {
  margin: 0;
  padding: 17px 0 42px;
  font-weight: 400;
  line-height: 30px;
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    padding: 65px 0 69px;
  }
}

.upload__container {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    padding: 57px 20px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0 130px;
  }
}

.upload__picture {
  padding: 20px 0 0;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}

.upload__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  @include ul-reset;
  padding: 35px 0 34px;
  border-bottom: 1px solid rgba(40, 54, 69, 0.1);

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    padding: 0 0 34px;
  }
}

.upload__item {
  height: 86px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
  }
}

.upload__range {
  position: relative;

  margin-bottom: 32px;
}

.upload__range-scale {
  display: block;
  height: 2px;
  min-width: 202px;
  background: $basic-dark;
}

.upload__range-toggle {
  position: absolute;
  top: 0;

  width: 14px;
  height: 14px;

  background: $basic-white;
  border: 2px solid $basic-red;
  border-radius: 50%;
  cursor: pointer;
}

.upload__buttons {
  display: flex;
  flex-direction: column;
  padding: 38px 20px 43px;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 44px;
    padding-left: 0;
    padding-right: 0;
  }
}

.upload__button-post,
.upload__reset {
  width: 100%;

  @include font-settings(700, 18px, 18px);
  border-radius: 30px;
  background-color: inherit;
  padding: 15px 0 16px;
}

.upload__button-post {
  color: $basic-red;
  border: 3px solid $basic-red;
  margin-bottom: 12px;
}

.upload__reset {
  color: rgba(40, 54, 69, 0.1);
  border: 3px solid rgba(40, 54, 69, 0.1);
}
