.upload__wrapper {
  background-color: $basic-neutral;

  @media (min-width: $desktop-width) {
    background-color: $basic-white;
  }
}

.upload__slogan {
  margin: 0;
  padding: 17px 0 42px;
  font-weight: 400;
  line-height: 30px;
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    padding: 45px 0 69px;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 0 69px;
  }
}

.upload__container {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 300px 1fr;
    column-gap: 45px;
    padding: 57px 20px 0;
  }

  @media (min-width: $desktop-width) {
    background-color: $basic-neutral;
    padding: 56px 20px 0 80px;
    width: 940px;
    margin: 0 auto 25px;
  }
}

.upload__picture {
  padding: 20px 0 0;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    width: 300px;
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    width: 300px;
  }
}

.upload__list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  @include ul-reset;
  padding: 35px 0 34px;
  border-bottom: 2px solid rgba($basic-dark, 0.1);

  @media (min-width: $tablet-width) {
    flex-direction: column;
    align-items: center;
    border-bottom: none;
    padding: 0 0 35px;
  }
}

.upload__item {
  height: 86px;

  @media (min-width: $tablet-width) {
    height: 72px;
    width: 275px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid rgba($basic-dark, 0.1);
  }

  @media (min-width: $desktop-width) {
    width: 410px;
  }

  .button {
    border: none;
    background-color: transparent;
  }
}

.upload__item:last-child {
  @media (min-width: $desktop-width) {
    border-bottom: none;
  }
}

.upload__item--current {
  margin-left: 5px;

  @media (min-width: $tablet-width) {
    height: 55px;
    margin-left: 0;
  }
}

.upload__item-crop {
  margin-left: 20px;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    margin-top: -9px;
  }
}

.upload__item-crop-icon {
  @media (min-width: $tablet-width) {
    width: 22px;
    height: 22px;
  }

  @media (min-width: $desktop-width) {
    width: 44px;
    height: 44px;
  }
}

.upload__item-fill-icon {
  @media (min-width: $tablet-width) {
    width: 24px;
    height: 22px;
  }

  @media (min-width: $desktop-width) {
    width: 48px;
    height: 43px;
  }
}

.upload__item-contrast-icon {
  @media (min-width: $tablet-width) {
    width: 16px;
    height: 16px;
  }

  @media (min-width: $desktop-width) {
    width: 32px;
    height: 32px;
  }
}

.upload__item-fill {
  path {
    fill: rgba($basic-dark, 0.3);
  }

  &:hover path {
    fill: rgba($basic-dark, 0.6);
  }

  @media (min-width: $tablet-width) {
    path {
      fill: $basic-red;
    }

    &:active path {
      fill: $basic-red;
    }
  }
}

.upload__item-contrast {
  margin-right: 35px;
  margin-top: 8px;

  @media (min-width: $tablet-width) {
    margin-right: 0;
  }

  @media (min-width: $desktop-width) {
    margin-right: 25px;
  }

  path {
    fill: rgba($basic-dark, 0.3);
  }

  &:hover path {
    fill: rgba($basic-dark, 0.6);
  }

  @media (min-width: $tablet-width) {
    path {
      fill: $basic-red;
    }

    &:active path {
      fill: $basic-red;
    }
  }
}

.upload__range-scale {
  display: block;
  height: 2px;
  background: $basic-dark;
  min-width: 240px;

  @media (min-width: $tablet-width) {
    min-width: 202px;
  }

  @media (min-width: $desktop-width) {
    min-width: 288px;
  }
}

.upload__range {
  display: none;
  position: relative;

  @media (min-width: $tablet-width) {
    display: block;
    margin: 0 auto;
  }
}

.upload__item--current .upload__range {
  display: block;
  position: relative;
  top: 36px;
}

.upload__item--current .upload__range-scale {
  position: absolute;
  left: 10px;

  @media (min-width: $tablet-width) {
    position: relative;
    top: -43px;
    left: 0;
  }
}

.upload__item--current .upload__range-toggle {
  display: block;
  top: -5px;
  left: 202px;

  @media (min-width: $tablet-width) {
    top: -49px;
    left: 160px;
  }

  @media (min-width: $desktop-width) {
    left: 240px;
  }
}

.upload__range-toggle {
  display: none;
  position: absolute;
  width: 14px;
  height: 14px;
  background: $basic-white;
  border: 2px solid $basic-red;
  border-radius: 50%;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: block;

    &--fill {
      top: -5px;
      left: 25px;
    }

    &--contrast {
      top: -5px;
      left: 100px;
    }
  }

  @media (min-width: $desktop-width) {
    &--fill {
      left: 40px;
    }

    &--contrast {
      left: 137px;
    }
  }

  &:active {
    background: $basic-red;
  }
}

.upload__buttons {
  display: flex;
  flex-direction: column;
  padding: 38px 20px 43px;

  @media (min-width: $tablet-width) {
    padding: 30px 12px 53px 0;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 44px;
    margin: 0 48px;
    padding: 113px 0 30px;
  }
}

.upload__button-post,
.upload__reset {
  width: 100%;

  @include font-settings(700, 18px, 18px);
  border-radius: 30px;
  background-color: inherit;
  padding: 15px 0 16px;
}

.upload__button-post {
  color: $basic-red;
  border: 3px solid $basic-red;
  margin-bottom: 12px;

  &:hover {
    color: $basic-white;
    background-color: $basic-red;
  }

  &:active {
    border: 1px solid $basic-black;
    color: rgba($basic-white, 0.3);
    padding: 17px 0 18px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 28px;
  }
}

.upload__reset {
  color: rgba($basic-dark, 0.1);
  border: 3px solid rgba($basic-dark, 0.1);

  &:hover {
    color: rgba($basic-dark, 0.3);
    border: 3px solid rgba($basic-dark, 0.3);
  }

  &:active {
    background-color: rgba($basic-dark, 0.3);
    color: rgba($basic-white, 0.3);
    border: none;
    padding: 18px 0 19px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 28px;
  }
}
